.wrapper {
    width: 100%;
    padding: 60px 0;
    margin: auto;
    
    .wrpper_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 1025px;
        margin: auto;

        h1 {
            font: 800 88px Arial;
            line-height: 100px;
            color: white;
        }

        p {
            font: 400 26px Arial;
            color: white;
            text-align: center;
        }

        .button {
            border: 1px solid black;
            border-radius: 20px;
            background-color: rgb(115, 156, 142);
            opacity: 0.8;
            box-shadow: 0 0 7px black;
            padding: 15px;
            font: 400 26px Arial;
            color: black;
        }
    }
}